.chosen-country-mob {
  &__block {
    margin-left: 38px;
  }
  &__content {
    display: flex;
    margin-top: 27px;
  }

  &__content-data {
    margin-left: 24px;
  }

  &__lang,
  &__currency {
    border-radius: 17px;
    padding: 4px 7px;
    margin-right: 3%;
  }

  &__lang {
    background-color: #fbd3c0;
  }

  &__currency {
    background-color: #ffe4a4;
  }
}
