.chosen-country-mob {
  &__block {
    margin-left: 38px;
  }
   &__content {
    display: flex;
    margin-top: 27px;
  }

  &__content-data {
    margin-left: 24px;
  } 

  &__country-content {
    margin-bottom: 21px;
  }

  &__fields {
    display: flex;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  &__languages {
    display: flex;
  }

  &__lang {
    background-color: #fbd3c0;
    border-radius: 17px;
    padding: 4px 7px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-right: 3%;
  }
}

