.country-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: #a4a4a4;
    font-size: 12px;
    line-height: 14px;
  }

  &__value {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #313131;    
  }

  @media (max-width: 996px) {
    align-items: baseline;
    &__title {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 2px;
    }

    &__value {
      display: flex;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }
  }  
}