.spinner {
  // position: relative;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#d6c28d);
  mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s 1s infinite linear;
}

@keyframes s {to{transform: rotate(1turn)}}

@media (max-width: 996px) {
  .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
 }
}
