.country-card-content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;

  &__title {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  &__name {
    font-weight: 900;
    font-size: 25px;
  }

  &__capital,
  &__continent {
    font-weight: bold;
  }

  &__capital {
    font-size: 19px;
  }

  &__continent {
    font-size: 16px;
  }
}

@media (max-width: 475px) {
  .country-card-content {
    height: 108px;
    &__name {
      font-size: 16px;
    }

    &__capital {
      font-size: 14px;
    }

    &__continent {
      font-size: 12px;
    }
  }
}

@media (max-width: 375px) {
  .country-card-content {
    height: 100px;
  }
}  