.country-card-content {
  &__content {
    display: flex;
    align-items: center;
    padding: 2%;
  }

  &__title {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  &__name {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 3%;
  }

  &__capital,
  &__continent {
    font-weight: bold;
  }

  &__capital {
    font-size: 18px;
    margin-bottom: 3%;
  }

  &__continent {
    font-size: 16px;
  }
  
}
