.with-query-loading,
.with-query-error {
   display: flex;
   justify-content: center;
   align-items: center;
   // background-color: red;
   height: 100%;
   // position: absolute;
   // transform: translate(50%);
   // left: 50%;
   // top: 50%;
}