.flag-img {
  object-fit: cover;
}

@media (max-width: 475px) {
  .flag-img {
    width: 180px !important;
    height: 108px !important;
  }
}

@media (max-width: 375px) {
  .flag-img {
    width: 150px !important;
    height: 100px !important;
  }
}
