.flag-img {
  object-fit: cover;
  img {
    height: 100%;
  }
}

@media (max-width: 475px) {
  .flag-img {
    width: 180px;
    height: 108px;
  }
}

@media (max-width: 375px) {
  .flag-img {
    width: 150px;
    height: 100px;
  }
}
