.chosen-country {
  display: flex;
  flex-direction: column;
  position: relative;

  &__center,
  &__left,
  &__capital {
    display: flex;
  }

  &__center,
  &__right,
  &__left {
    position: relative;
  }

  &__center {
    justify-content: center;
    padding: 0 12px 0 12px;
  }

  &__left,
  &__right {
    flex-direction: column;
    width: 200px;
  }

  &__name-block,
  &__capital-block,
  &__population-block,
  &__сontinent-block,
  &__сurrency-block,
  &__timezone-block,
  &__call-codes-block,
  &__language-block {
    position: relative;
  }

  &__name-block,
  &__language-block {
    left: 18px;
  }

  &__name-block {
    margin-bottom: 19px;
  }

  &__capital-block,
  &__сontinent-block {
    position: absolute;
  }

  &__language-block {
    top: 18px;
  }

  &__capital-block {
    display: flex;
    justify-content: flex-end;
    right: -34px;
    top: 25px;
  }

  &__сontinent-block {
    right: 62px;
    top: 22px;
    display: flex;
    width: 169px;
  }

  &__call-codes-block {
    top: 226px;
    left: -104px;
  }

  &__timezone-block,
  &__population-block {
    bottom: -152px;
  }

  &__population-block {
    left: 49px;
  }

  &__timezone-block {
    right: 49px;
  }

  &__сurrency-block {
    bottom: -230px;
    left: 114px;
  }

  &__value {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
