.chosen-country {
  display: flex;
  flex-direction: column;
  position: relative;

  &__center,
  &__left,
  &__capital,
  &__сurrency,
  &__сontinent {
    display: flex;
  }

  &__center,
  &__right,
  &__left,
  &__timezone-block,
  &__call-codes-block,
  &__language-block {
    position: relative;
  }

  &__center {
    justify-content: center;
  }

  &__left,
  &__right {
    flex-direction: column;
    width: 200px;
  }

  &__capital-block {
    width: 100%;
  }

  &__name-block,
  &__capital-block,
  &__population-block,
  &__сontinent-block,
  &__сurrency-block,
  &__timezone-block,
  &__call-codes-block,
  &__language-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__сontinent-block,
  &__name-block,
  &__language-block {
    left: 18px;
  }

  &__name-block {
    margin-bottom: 19px;
  }

  &__capital-block,
  &__сontinent-block {
    position: absolute;
  }

  &__language-block {
    top: 18px;
  }

  &__capital-block {
    right: -40px;
    top: 28px;
  }

  &__сontinent-block {
    left: -31px;
    top: 29px;
  }

  &__timezone-block {
    top: 143px;
  }

  &__call-codes-block {
    top: 226px;
    left: -70px;
  }

  &__population-block {
    bottom: -139px;
  }

  &__сurrency-block {
    bottom: -74px;
  }

  &__сurrency-block {
    bottom: -224px;
    left: 92px;
  }
}
