.chosen-country {
  display: flex;
  flex-direction: column;
  position: relative;

  &__center,
  &__left,
  &__capital,
  &__сurrency,
  &__сontinent {
    display: flex;
  }

  &__center {
    justify-content: center;    
  }

  &__title {
    color: #a4a4a4;
    font-size: 12px;
    line-height: 14px;
  }

  &__left { 
    flex-direction: column;
    right: 50px;
  }
  
  &__name-block,
  &__capital-block,
  &__population-block,
  &__сontinent-block,
  &__сurrency-block,
  &__timezone-block,
  &__call-codes-block,
  &__language-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__name-block {
    margin-bottom: 19px;
  }
  
   &__capital-block,
   &__сontinent-block  {   
    position: absolute;
   }

   &__center,
   &__right,
   &__left,
   &__timezone-block,
   &__call-codes-block,
   &__language-block {
    position: relative;
   }

  &__capital-block {     
    right: 13px; 
  }

  &__сontinent-block {
    left: 42px;
    top: 13px;
  }

  &__timezone-block {
    top: 143px;
    left: 117px;
  }

  &__call-codes-block {
    top: 226px;
    left: 63px;
  }

  &__capital {
    width: 100px;    
  }

  &__сurrency {
    width: 100px;  
  }

  &__сontinent {
    width: 100px;   
    margin-left: 20px;
  }

  &__population-block {
    bottom: -139px;
    left: -52px;
  }

  &__сurrency-block {
    bottom: -74px;
  }

  &__сurrency-block {
    bottom: -222px;
    left: 3px;
  }

  &__language-block {
    top: -61px;
  }

  &__name,
  &__capital,
  &__сontinent,
  &__сurrency,
  &__call-codes,
  &__language {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #313131;
  }
}
