.country {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 228, 133, 0.5) 21.88%,
    rgba(186, 123, 0, 0.5) 100%
  );
  box-shadow: 0 4px 4px #cccccc;
  border-radius: 15px;
  margin-bottom: 2%;
  color: #313131;
  font-style: normal;

  &__block {
    display: flex;
    align-items: center;
    overflow: auto;
    //height: 855px;
    padding: 30px 16px 25px 28px;
  }
}

@media (max-width: 411px) {
  .country {
    &__block {
      padding: 19px 7px 15px 26px;
    }
  }
}
