* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.App {
  background: #e5e5e5;
  font-family: Roboto;
}
